*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior: smooth;
}
.logo{
    width: 12%;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#08000a, #08000a);
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100000;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    margin-left: 20px;
}

header ul li a{
    color: black;
}

header ul li a:hover{
    background: black;
    color: #08000a;
}

.icon{
    padding-left: 20px;
    width: 50px;
    text-decoration: none;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#08000a,transparent);
    z-index: 1000;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img #moon{
    mix-blend-mode: screen;
}

section img#mountains_front{
    z-index: 10;
}

#text{
    position: absolute;
    right: -620px;
    color: #fff;
    white-space: nowrap;
    font-size: 7vh;
    z-index: 9;
    font-family: 'Amatic SC', cursive;

}

#btn{
    font-family: 'Amatic SC', cursive;
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 3vh;
    transform: translateY(120px);
}

.About{
    display: flex;
    text-align: center;
    background: #08000a;
    font-family: 'Amatic SC', cursive;
    padding-left: 30px;
    margin-bottom: 20px;
}

.welcome_info{
    flex-basis: 100px;

}

.About h2{
    font-size: 6vw;
    margin-bottom: 3vh;
    color: #fff;
}

.About p{
    font-size: 1.5vw;
    color: #fff;
}
.welcome_images{
    padding-top: 20px;
    padding-bottom: 20px;
}
.welcome_images *{
    margin-top: 20px;
    margin-right: 15px; 
	border-radius: 7%;
	overflow: hidden;
	transform: translatey(0px);
    width: 25%;
}

#welcome_img1{
    animation: float 6s ease-in-out infinite;
}

#welcome_img2{
    animation: float 10s ease-in-out infinite;
}

#welcome_img3{
    animation: float 3s ease-in-out infinite;
}

#welcome_img4{
    animation: float 12s ease-in-out infinite;
}

#welcome_img5{
    animation: float 7s ease-in-out infinite;
}


.line_break{
    margin-top: 30px;
    margin-right: 40px;
    margin-left: 40px;
}
/* Tech Spec */

.technical_specs{
    text-align: center;
    background: #08000a;
    font-family: 'Amatic SC', cursive;
}


.technical_specs h2{
    font-size: 6vw;
    margin-bottom: 3vh;
    color: #fff;
}

.technical_specs p{
    font-size: 1.5vw;
    color: #fff;
    margin-bottom: 5vh;
}

.image_network{
    position: relative;
    z-index: 1;
}

#network_img{
    width: 60%;
}

.images * {
    transition: 0.6s;
    border-radius: 50%;
    width: 4%;
}

.images *:hover{
    transform: scale(1.5);
}


/* Roadmap */

.roadmap_description{
    text-align: center;
    background: #08000a;
    font-family: 'Amatic SC', cursive;
    padding-left: 30px;
    margin-top: 20px;
}
.roadmap_description h2{
    font-size: 6vw;
    margin-bottom: 3vh;
    color: #fff;
}
.roadmap_description p{
    font-size: 1.5vw;
    color: #fff;
}

* {
    box-sizing: border-box;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid purple;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    font-family: 'Amatic SC', cursive;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  



/* Meet the Team */
.team {
    text-align: center;
    background: #08000a;
    font-family: 'Amatic SC', cursive;
    padding-left: 30px;
    margin-top: 20px;
}

.team h2{
    font-size: 6vw;
    margin-bottom: 3vh;
    color: #fff;
}


.column {
    float: left;
    width: 16.6%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.job_description{
    font-size: 2vw;
    color: #fff;
}
 
.name{
    font-size: 2vw;
    color: #fff;
}

.founder_description{
    font-size: 1.5vw;
    color: #fff;
}

/* Some left and right padding inside the container */
.container_card {
padding: 0 16px;
}

.card img{
    border-radius: 7%;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
