* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.logo {
    width: 12%;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#08000a, #08000a);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100000;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    margin-left: 20px;
}

header ul li a {
    color: black;
}

header ul li a:hover {
    background: black;
    color: #08000a;
}

.icon {
    padding-left: 20px;
    width: 50px;
    text-decoration: none;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #08000a, transparent);
    z-index: 1000;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img #moon {
    mix-blend-mode: screen;
}

section img#mountains_front {
    z-index: 10;
}

#intro_text {
    color: white;
    font-weight: bold;
    z-index: 1000;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 3vw;
}

#mouse-scroll {
    style: block;
}

#mouse-scroll {
    position: fixed;
    margin: auto;
    left: 50%;
    top: 60%;
    -webkit-transform: translateX(-50%);
    z-index: 5;
}

#mouse-scroll span {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin: 0 0 3px 5px;
}

#mouse-scroll .mouse {
    height: 21px;
    width: 14px;
    border-radius: 10px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    border: 2px solid #ffffff;
    top: 170px;
}

#mouse-scroll .down-arrow-1 {
    margin-top: 6px;
}

#mouse-scroll .down-arrow-1,
#mouse-scroll .down-arrow-2,
#mouse-scroll .down-arrow-3 {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite:
}

#mouse-croll .down-arrow-1 {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
}

#mouse-scroll .down-arrow-2 {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
}

#mouse-scroll .down-arrow-3 {
    -webkit-animation-delay: .3s;
    -moz-animation-dekay: .3s;
    -webkit-animation-direction: alternate;
}

#mouse-scroll .mouse-in {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: #ffffff;
    position: relative;
}

#mouse-scroll .mouse-in {
    -webkit-animation: animated-mouse 1.2s ease infinite;
    moz-animation: mouse-animated 1.2s ease infinite;
}

@-webkit-keyframes animated-mouse {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@-webkit-keyframes mouse-scroll {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

#text {
    position: absolute;
    right: -620px;
    color: #fff;
    white-space: nowrap;
    font-size: 7vh;
    z-index: 9;
    font-family: 'Amatic SC', cursive;
}

.About {
    display: flex;
    text-align: center;
    background: #08000a;
    font-family: 'Amatic SC', cursive;
    padding-left: 30px;
    margin-bottom: 20px;
}

.welcome_info {
    flex-basis: 100px;
}

.About h2 {
    font-size: 6vw;
    margin-bottom: 3vh;
    color: #fff;
}

.About p {
    font-size: 1.5vw;
    color: #fff;
}

.welcome_images {
    padding-top: 20px;
    padding-bottom: 20px;
}

.welcome_images * {
    margin-top: 20px;
    margin-right: 15px;
    border-radius: 7%;
    overflow: hidden;
    transform: translatey(0px);
    width: 25%;
}

#welcome_img1 {
    animation: float 6s ease-in-out infinite;
}

#welcome_img2 {
    animation: float 10s ease-in-out infinite;
}

#welcome_img3 {
    animation: float 3s ease-in-out infinite;
}

#welcome_img4 {
    animation: float 12s ease-in-out infinite;
}

#welcome_img5 {
    animation: float 7s ease-in-out infinite;
}

.line_break {
    margin-top: 30px;
    margin-right: 40px;
    margin-left: 40px;
}


/* Tech Spec */

.technical_specs {
    text-align: center;
    background: #08000a;
    font-family: 'Amatic SC', cursive;
}

.technical_specs h2 {
    font-size: 6vw;
    margin-bottom: 3vh;
    color: #fff;
}

.technical_specs p {
    font-size: 1.5vw;
    color: #fff;
    margin-bottom: 5vh;
}

.image_network {
    position: relative;
    z-index: 1;
}

#network_img {
    width: 60%;
}

.images * {
    transition: 0.6s;
    border-radius: 50%;
    width: 4%;
}

.images *:hover {
    transform: scale(3);
}

.opensea_section {
    margin-top: 4vh;
}

#btn_opensea {
    font-family: 'Amatic SC', cursive;
    font-size: 3vw;
    background-color: #2b1055;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 7%;
    transition-duration: 0.4s;
}

#btn_opensea:hover {
    background-color: #08000a;
    color: white;
}

.roadmap_and_story {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}


/* Roadmap */

.roadmap {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

.roadmap_description {
    text-align: center;
    background: #08000a;
    font-family: 'Amatic SC', cursive;
    padding-left: 30px;
    margin-top: 20px;
}

.roadmap_description h2 {
    font-size: 6vw;
    margin-bottom: 3vh;
    color: #fff;
}

.roadmap_description p {
    font-size: 1.5vw;
    color: #fff;
}

* {
    box-sizing: border-box;
}

#btn_roadmap {
    font-family: 'Amatic SC', cursive;
    font-size: 3vw;
    background-color: white;
    border: none;
    color: #2b1055;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    margin-top: 5vh;
    border-radius: 7%;
    transition-duration: 0.3s;
}

#btn_roadmap:hover span {
    display: none;
}

#btn_roadmap:hover {
    background-color: #08000a;
    color: white;
}

#btn_roadmap:hover::before {
    content: "🗺️";
}


/* Our Story */

.Our_Story {
    text-align: center;
    background: #08000a;
    font-family: 'Amatic SC', cursive;
    padding-left: 30px;
    margin-top: 20px;
    margin-left: 8vw;
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

.Our_Story h2 {
    font-size: 6vw;
    margin-bottom: 3vh;
    color: #fff;
}

.Our_Story p {
    font-size: 1.5vw;
    color: #fff;
}

.Our_Story #btn_story {
    font-family: 'Amatic SC', cursive;
    font-size: 3vw;
    background-color: white;
    border: none;
    color: #2b1055;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    margin-top: 5vh;
    border-radius: 7%;
    transition-duration: 0.3s;
}

#btn_story:hover span {
    display: none;
}

#btn_story:hover {
    background-color: #08000a;
    color: white;
}

#btn_story:hover::before {
    content: "📖";
}


/* Meet the Team */

.team {
    text-align: center;
    background: #08000a;
    font-family: 'Amatic SC', cursive;
    padding-left: 30px;
    margin-top: 20px;
}

.team h2 {
    font-size: 6vw;
    margin-bottom: 3vh;
    color: #fff;
}

.card {
    float: left;
    width: 16.6%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.job_description {
    font-size: 2vw;
    color: #fff;
}

.name {
    font-size: 2vw;
    color: #fff;
}

.founder_description {
    font-size: 1.3vw;
    color: #fff;
}


/* Some left and right padding inside the container */

.container_card {
    padding: 0 16px;
}

.card img {
    border-radius: 7%;
}


/* contract */

.contract {
    margin-top: 43vh;
    text-align: center;
    font-size: 1.4vw;
    color: #fff;
    font-family: 'Amatic SC', cursive;
}

.contract a {
    color: white;
}

.contract a:visited {
    text-decoration: none;
    color: white;
}


/* footer */

.footer {
    text-align: center;
    background: #08000a;
    font-family: 'Amatic SC', cursive;
    padding-left: 30px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.footer img {
    width: 45%;
}

.footer p {
    font-size: 2vw;
    margin-bottom: 3vh;
    color: #fff;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

.footer a:hover {
    text-decoration: none;
    color: #2b1055;
}

.footer_item {
    float: left;
    width: 33.33%;
    margin-bottom: 16px;
    padding: 0 8px;
    text-align: center;
}


/* Display the columns below each other instead of side by side on small screens */

@media screen and (max-width: 650px) {
    .card {
        width: 100%;
        display: block;
    }
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-20px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}